// Default padding
$defaultPaddingLeft: 2%;
$defaultPaddingRight: 2%;
// Default font
$defaultFont: 'Times New Roman';
$titleFont: exo2;
// Default font size

// $menuElem: 2.9vh;
$menuElem: 1.35vw;
// $dropMenuElem: 2.5vh;
$dropMenuElem: 1.2vw;

// $deskTitle: 1vh;
// $deskText: 1vh;
// $footerSubtitle: 1vh;
// $footerText: 1vh;

// Main colors
$menuColor: rgb(0, 84, 166);
$menuFocusedColor: rgb(0, 62, 123);
$menuFocusedColorDark: rgb(0, 46, 92);
$brightBlue: rgb(6, 0, 255);
